/* google font  */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap");
/* common css  */
*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
}
span{
    color: #E76F51;
}
/* header css  */
.top{
    background-color: #264653;    
    margin: 0 auto;
}
.header{
    font-style: normal;
    font-weight: 600;
    font-size: 48px;
    line-height: 72px;
}
.details{
    color: #E0E0E0;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 20px;
}
.hero{
    font-weight: 600;
    font-size: 48px;
    line-height: 72px;
    color: #0A0826;
}
.btn-bike{
    background-color: #E76F51;
    border: none;
}
.btn-bike:hover{
    background-color: coral;
    border: none;
}
.header-bike{
    padding: 50px 100px;
}

/* feature css  */
.img {
    -webkit-filter: grayscale(100%); /* Chrome, Safari, Opera */
    filter: grayscale(100%);
  }
.border-card{
    border: 1px white;
}
/* review card  css */
.icons{
      color: #E77C40;
  }
.name{
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    /* identical to box height, or 171% */
    letter-spacing: 0.2px;
    /* primary-color */
    color: #23A6F0;
    margin: 15px 0px;
}
.desg{
    font-weight: 600;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.2px;
    color: #252B42;
    margin: 15px 0px;
}
/* faq css  */
.accordion-item{
    border: none;
    background: #FFFFFF;
    border: 1px solid #D5E5FB;
    box-sizing: border-box;
    border-radius: 5px;
    margin: 10px;
    padding: 10px 14px
}
.accordion-button > text{
    border: none;
    background: #FFFFFF;
    color: black;
}
.accordion-button:hover >text{
    border: none;
    background: #FFFFFF;
}
/* suscribe css  */
.bg-info{
    background-color: #23A6F0;
}